@font-face {
    font-family: 'NunitoSans';
    src: url('./fonts/NunitoSans.woff2') format("woff2");
}
@font-face {
    font-family: 'YesevaOne';
    src: url('./fonts/YesevaOne.woff2') format("woff2");
}